@page "/"
@inject HttpClient Http
<h1>Comics</h1>

@*<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>*@


@code
{
    ComicViewModel[] ComicViews { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetComics();
    }

    async Task GetComics()
    {

    }
}

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
