@page "/comics"
@inject IHttpClientFactory http
@inject ComicViewModel ComicView

<h3>Comics</h3>
<a href="/comics/create" class="btn btn-info mb-2">Crear</a>

@if (ComicView.ComicJson == null)
{
    <p>Cargando......</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Capitulos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comic in ComicView.ComicJson)
            {
                <tr>
                    <td><a href="">@comic.Id</a></td>
                    <td>@comic.Values.Count()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            ComicView.ComicJson = await GetComicJsons();
        }
        catch (Exception)
        {

            throw;
        }
    }

    async Task<IEnumerable<ComicJson>> GetComicJsons()
    {
        var client = http.CreateClient("Client");
        var response = await client.GetAsync("api/comics", HttpCompletionOption.ResponseContentRead);
        if (response.IsSuccessStatusCode)
        {
            return await ComicView.GetComicsAsync(response);
        }
        return null;
    }

}
